@model Proj2Aalst_G3.Models.Domain.Blogpost


@{
    ViewData["Title"] = "Details";
}

<div class="container mt-3">
    <div class="row align-items-center">
        <div class="col-8">
            <h1>Details</h1>
            <h4>Blogpost</h4>
        </div>
        <div class="col-4 text-end">
            @if ((bool) ViewData["IsAdmin"])
            {
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Aanpassen</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-secondary">Verwijderen</a>
                <span>|</span>
            }
            <a asp-action="Index">Terug naar lijst</a>
        </div>
        <hr/>
    </div>

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PublicationTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PublicationTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Text)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Text)
            </dd>
        </dl>
    </div>
</div>